<script>
  $(document).on('turbolinks:load', () => {
        $('#start-datepicker').datetimepicker({
            format: 'DD/MM/YYYY HH:MM'
        });
        $('#end-datepicker').datetimepicker({
            format: 'DD/MM/YYYY HH:MM'
        });
  });
</script>
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: "content", class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, autocomplete: "content", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Start</label>
    <div class="input-group date" id="start-datepicker">
      <% if event.start %>
        <%= form.datetime_field :start, class: "form-control", value: event.start.strftime("%d/%m/%Y") %>
      <% else %>
        <%= form.datetime_field :start, class: "form-control" %>
      <% end %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label>End</label>
    <div class="input-group date" id="end-datepicker">
      <% if event.end %>
        <%= form.datetime_field :end, class: "form-control", value: event.end.strftime("%d/%m/%Y") %>
      <% else %>
        <%= form.datetime_field :end, class: "form-control" %>
      <% end %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <%= form.hidden_field :cca_id, value: @cca.id %>
  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary form-btn' %>
  </div>
<% end %>
